<html>
<head>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="container">
<h1>WELCOME TO NEW ENGLISH SCHOOL SMART ATTENDANCE SYSTEM</h1>
<a href="/start"><button>Start</button></a>
<a href="/add_staff"><button>Add Staff</button></a>
<a href="/staff_login"><button>Staff Login</button></a>
<a href="/search_student"><button>Search Student</button></a>
<a href="/show_attendance"><button>Show Attendance</button></a>
<a href="/export_pdf"><button>Export PDF</button></a>
<a href="/export_excel"><button>Export Excel</button></a>
<a href="/download_excel"><button>Export Attendance Excel</button></a>
<a href="/download_pdf"><button>Export Attendance Pdf</button></a>
</div>
</body>
</html>